<!DOCTYPE html>
<html>
<head>
  <title>Winefoundry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <!--1st Large Banner Image -->

<%= yield %>
    <div class="wrapper">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLvxSw3Y65xAPW3Ctp_i5_E9WDtkxg2CAgv83aPVQwoEgfakbs0Q" class="img-responsive" alt="Responsive image">
        <div class="sol-sm-6">
        </div>
     </div>

</body>
</html>
